.banner {
    display: flex;
    height: 780px;
    border-bottom: 10px solid #000;
    padding-top: 116px;
    padding-left: 91px;
    background-color: azure;
}


.banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 627px;
}

.banner .div-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 38px;
}