.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #977ab3;
    border-bottom: 10px solid #000; 
    padding: 10px 20px ;
}

.header .logo {
    width: 70px;
    height: 70px;
    transform: scale(1.35);
}

nav {
    text-align: right;
}